/*Comments*/

@color_blue: #263d74;
@color_white: #ffffff;

/*!--ЧАСТИНА І */
con{
    width:100%;
    height:auto;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

container {
    font-family: Arial;
    
    
    ul li{
        display: inline; /* Отображать как строчный элемент */ 
        padding-right: 40px;
        }
            h1 {
                margin-bottom: -25px; /* Отрицательный отступ между заголовком и текстом */
                }   
          
    /*ptd{
         height:540px;      
 
    }*/
}